.wrapper {
    width: 80%;
    margin: auto;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
}

.title {
    font-size: 28px;
    align-self: flex-start;
    margin: 20px 0;
}

mat-form-field {
    width: 100%;
}

::ng-deep input.mat-input-element {
    background-color: #ffffff !important;
    border-radius: 3px;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: rgb(0, 0, 0) !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background-color: rgb(107, 107, 107) !important;
}

mat-radio-group {
    display: flex;
    justify-content: space-between;
}

.roleLabel {
    font-weight: bold;
}

i {
    position: absolute;
    bottom: 0;
    right: 0;
}

button {
    background-color: rgb(41, 41, 41);
    border-radius: 3px;
    width: 120px;
    height: 35px;
    color: white;
    border: 0;
    font-size: 16px;

    &:hover:enabled {
        transform: scale(1.05);
        cursor: pointer;
    }

    &:disabled {
        background-color: rgb(104, 104, 104);
        cursor: not-allowed;
    }
}

.register {
    display: flex;
    justify-content: flex-end;
    margin: 40px 0 20px;
    align-items: center;
}